
{% extends "encyclopedia/layout.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block body %}

 entry page
 <p>content{{content|safe}}</p> 
 <p>entry_html{{entry_html|safe}}</p>



<p> title<h3>{{title|safe}}</h3> error: {{error|safe}}</p>

<div class="mydiv">

    <p>{{ entry|safe }}</p>
 
</div>

<div class="mydiv">
  {% for s in similar_data %}
            <li><a href="/{{s}}">{{ s|safe }}</a></li>        
  {% endfor %}
</div>

<a href="{% url 'edit' title  %}">edit</a>


{% endblock %}



